Source: plasma-sdk
Section: kde
Priority: optional
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Maximiliano Curia <maxy@debian.org>
Build-Depends: cmake (>= 2.8.12~),
               debhelper (>= 9),
               extra-cmake-modules (>= 5.18.0~),
               gettext,
               git,
               kdevplatform-dev,
               kio-dev (>= 5.18.0~),
               kirigami,
               libgrantlee5-dev,
               libkf5archive-dev (>= 5.18.0~),
               libkf5attica-dev (>= 5.18.0~),
               libkf5auth-dev (>= 5.18.0~),
               libkf5bookmarks-dev (>= 5.18.0~),
               libkf5codecs-dev (>= 5.18.0~),
               libkf5completion-dev (>= 5.18.0~),
               libkf5config-dev (>= 5.18.0~),
               libkf5configwidgets-dev (>= 5.18.0~),
               libkf5coreaddons-dev (>= 5.18.0~),
               libkf5declarative-dev (>= 5.18.0~),
               libkf5i18n-dev (>= 5.18.0~),
               libkf5iconthemes-dev (>= 5.18.0~),
               libkf5itemviews-dev (>= 5.18.0~),
               libkf5jobwidgets-dev (>= 5.18.0~),
               libkf5kdelibs4support-dev (>= 5.18.0~),
               libkf5newstuff-dev (>= 5.18.0~),
               libkf5package-dev (>= 5.18.0~),
               libkf5parts-dev (>= 5.18.0~),
               libkf5service-dev (>= 5.18.0~),
               libkf5solid-dev (>= 5.18.0~),
               libkf5sonnet-dev (>= 5.18.0~),
               libkf5texteditor-dev (>= 5.18.0~),
               libkf5textwidgets-dev (>= 5.18.0~),
               libkf5widgetsaddons-dev (>= 5.18.0~),
               libkf5windowsystem-dev (>= 5.18.0~),
               libkf5xmlgui-dev (>= 5.18.0~),
               libqt5svg5-dev (>= 5.4),
               libqt5webkit5-dev,
               libqt5x11extras5-dev,
               openbox,
               pkg-kde-tools (>> 0.15.15),
               plasma-framework-dev (>= 5.18.0~),
               qtbase5-dev (>= 5.4.0~),
               qtdeclarative5-dev (>= 5.4),
               xauth,
               xvfb
Standards-Version: 3.9.6
Homepage: http://projects.kde.org/plasma-sdk
Vcs-Browser: http://anonscm.debian.org/cgit/pkg-kde/plasma/plasma-sdk.git
Vcs-Git: git://anonscm.debian.org/pkg-kde/plasma/plasma-sdk.git

Package: plasma-sdk
Architecture: any
Depends: git,
         kirigami,
         plasma-framework,
         qml-module-qtgraphicaleffects,
         ${misc:Depends},
         ${shlibs:Depends}
Breaks: plasmate (<< 4:5.2.50)
Replaces: plasmate (<< 4:5.2.50)
Recommends: bash (>= 4.3)
Suggests: git
Description: IDE tailored for development of Plasma components
 A small IDE tailored for development of Plasma components,
 such as Widgets, Runners, Dataengines.
 .
 This package is part of the KDE Plasma.

Package: plasma-sdk-dbg
Section: debug
Priority: extra
Architecture: any
Depends: plasma-sdk (= ${binary:Version}), ${misc:Depends}
Description: IDE tailored for development of Plasma components - debug symbols
 A small IDE tailored for development of Plasma components,
 such as Widgets, Runners, Dataengines.
 .
 This package is part of the KDE Plasma.
 .
 This package contains the debugging symbols.
